<body>
{{>layout/header}}
{{>layout/header2}}
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>언제 어디서나</h6>
                <h2>음악 찾아</h2>
                <p>**<br>##</p>
                <div class = "col-md-12">

                    <input name="EMAIL" placeholder="음악검색" onfocus="this.placeholder = ''" onblur="this.placeholder = '음악검색 '" required="" type="email">
                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>

                </div>


            </div>
        </div>
    </div>

</section>
<!--================Banner Area =================-->

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">카테고리별 노래</h2>
            <p>카테고리별로 음악을 골라서 들을 수 있습니다. </p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="image/balad.png" alt="">
                        <a href="/test" class="btn theme_btn button_hover">발라드 듣기</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">발라드</h4></a>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="image/trooot.png" alt="">
                        <a href="#" class="btn theme_btn button_hover">트로트 듣기</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">트로트</h4></a>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="image/popsong.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">팝송 듣기</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">팝송</h4></a>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="image/hiphop.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">힙합 듣기</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">힙합</h4></a>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="image/dance.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">댄스곡 듣기</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">댄스</h4></a>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="image/rock.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">락 듣기</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">락</h4></a>

                </div>
            </div>
        </div>
    </div>
</section>
{{>layout/footer}}
{{>layout/footer2}}

<!--================ Accomodation Area  =================-->

<!--================ Facilities Area  =================-->

<!--================ Facilities Area  =================-->


<!--================ About History Area  =================-->

<!--================ Testimonial Area  =================-->

<!--================ Testimonial Area  =================-->

<!--================ Latest Blog Area  =================-->

<!--================ Recent Area  =================-->

<!--================ start footer Area  =================-->
