<!doctype html>

<html lang="en">
<head>

    {{>layout/header}}
    {{>layout/header2}}

</head>
<body>

<!--================Contact Area =================-->



{{#musicList}}
    <p>{{num}}</p>
    <p>{{change}}</p>
    <p>{{name}}</p>
    <p>{{artist}}</p>
    <p>{{lyric}}</p>
{{/musicList}}
{{>layout/footer}}
{{>layout/footer2}}

</body>
</html>

<!--================Header Area =================-->

<!--================Breadcrumb Area =================-->
